.time-tracker {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    height: 100vh;
}

h1 {
    padding-top: 50px;
}

.task {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    padding: 20px;
}

.timeDiv {
    display: flex;
    justify-content: space-between;
    font-size: large;
}

.start, .stop {
    margin-right: 5px;
}
