.card {
    background-color: #ffffff;
    width: 50vw;
}

#searchInput {
    border: 2px solid #00b4d8;
    border-radius: 5px;
    width: 300px;
    font-size: large;
}

#searchButton {
    color: #ffffff;
}

.recipe img {
    margin-top: 20px;
    margin-bottom: 20px;
} 

.recipe img {
    max-width: 100%;
    height: auto;
}
