
.background {
    background: rgb(2, 62, 138);
    color: #ffffff;
}

.question {
    background-color: rgba(102, 153, 255, 0.3);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 50px;
    margin-top: 30px;
}

.option {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    margin-top: 7px;
    padding: 10px 20px;
}

label {
    margin-bottom: 10px;
}
